<!-- begin plugin_fancybox template -->

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{{{ROOT}}}/style/js/fancyBox/lib/jquery.mousewheel.pack.js?v=3.0.6"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" type="text/css" href="{{{ROOT}}}/style/js/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<script type="text/javascript" src="{{{ROOT}}}/style/js/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->

<link rel="stylesheet" href="{{{ROOT}}}/style/js/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{{ROOT}}}/style/js/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{{ROOT}}}/style/js/fancyBox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="{{{ROOT}}}/style/js/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{{ROOT}}}/style/js/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Enable fancybox -->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();

	// Parse html and add fancybox support
        var block = document.getElementsByClassName('figure');
        for(var i = 0, l = block.length; i < l; i++) {
	    block[i].innerHTML = block[i].innerHTML.replace(/(\<img src=\"(.+)\"\s([^/]+)\>)/, '<a class="fancybox" rel="group" href="$2">$1</a>');
        }
  });
</script>

<!-- end plugin_fancybox template -->
